@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800;900&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Catamaran', sans-serif;
}

body {
  background-color: #343434;
}