.button {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color: #343434;
    margin-top: 15px;
    width: 100px;
    height: 40px;
    background-color: #343434;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.button:hover {
    background-color: black;
}

@media (max-width : 767px) {
    .button {
        width: 100%;
    }
}